*,
html{
    margin: 0;
    padding: 0;
    
}


.navbar-container {
    background-color: rgb(39, 41, 39);
    width: 100%;
    height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: aqua;
    transition: 0.5s ease-in-out;
    transition: .3s;
    border-radius: 5px;
}

.a-navbar{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 850;
}

.container-content{
    background-color: rgb(9, 170, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content{
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    font-size: 35px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    border-color: antiquewhite;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content{
    width: 70%;
    height: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-footer{
    background-color: rgb(39, 41, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
    font-size: 30px;
}